* {
	margin: 0;
    padding: 0;
	font-family: "poppins", sans-serif;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

.headers{
    /*background-color: #7ed957;*/
    height: 12vh;
    width: 100%;
    padding: 0 8%;
    position: relative;
    background: rgb(255, 255, 255);
}
nav{
    padding-right: -30%;
    height: 105px;
    display: flex;
    align-items: center;
    position: fixed;
    justify-content: space-between;
    background: rgb(255, 255, 255);
   
}
.logo{
    width: 285px;
    margin-top: -3%;
    margin-left: -7%;
    
    
}
.nav-links{
    padding: 28px 0;
    margin-left: 550px;
}
.nav-links li{
    display: inline-block;
    margin: 0 15px;
}
.nav-links li a{
    text-decoration: none;
    color: black;
    padding: 5px 0;
    position: relative;
}
.nav-links li a::after{
    content: '';
    background: #7ed957;
    width: 0;
    height: 2px;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: width 0.5s;

}
.nav-links li a:hover::after{
    width: 100%;
}
html, body {
    height: 100%;
    margin: 0;
    font-size: 20px;
}
#left {
    width: 20%;
    height: 100%;
    position: fixed;
    outline: 1px solid;
    background: linear-gradient(rgb(255, 255, 255),rgb(255, 255, 255));
}
#right {
    width: 80%;
    height: auto;
    outline: 1px solid;
    position: fixed;
    right: 0;
    padding: 20px;
    background: linear-gradient(rgb(238,238,238) ,rgb(255, 255, 255));
}

.right_titel{
    position: fixed
}
.recherche{
    position: fixed;
}
.right_boutton{
    text-decoration: none;
    position: fixed;
    color: rgb(197, 225, 197);
    background: transparent;
    border: transparent;
    padding: 10px 40px;
    font-size: 18px;
    width: 20%;
    text-align: left;
    -webkit-transition: color 0,99s;
    transition: color 1s;
}

.right_boutton:hover{
    color: #7ed957;

}

.right_titel{
    margin-left: 5%;
    font-size: 20px;
    text-align: center;
}
.recherche{
    margin-top: 4px;
    margin-left: 7px;
    background-color: white;
  background-image: url(https://www.freeiconspng.com/thumbs/search-icon-png/search-icon-png-2.png);
  background-position: 10px 10px;
  background-size: 18px; 
  background-repeat: no-repeat;
  padding-left: 40px;
  padding: 10px 55px;
  border-radius: 10px;
}
.right_select{
    padding: 10px 20px;
    border-radius: 7px;
    background-color: white;
}
.mission{
    margin-top: -40%;
    margin-left: 20%;
    display: grid;
    column-gap: 50px;
    row-gap: 60px;
  grid-template-columns: auto auto auto;
  padding: 10px;
  border-radius: 14px;
  
}
.grid_mission{
    background: rgb(238, 238, 238);
    /*background-color: rgba(159, 159, 159, 0.8);*/
    border: 1px solid rgba(0, 0, 0, 0);

  font-size: 15px;
  text-align: center;
  border-radius: 12px;
  


}
.image_mission{
    height: 300px;
    border: 2px black solid;
    border-radius: 9px;
    background-color: rgb(71, 71, 71);

}
.button_mission{
        background-color: lightgreen;
        width: 35%;
        padding: 14px 20px;
        height: 40px;
        border: none;
        margin-right: 150px;
        cursor: pointer;
        color: #fff;
        outline: none;
        font-size: 15px;
        font-weight: normal;
        text-transform: uppercase;
        transition: all 0.5s ease-in-out;
        -webkit-transition: all 0.5s ease-in-out;
        -moz-transition: all 0.5s ease-in-out;
        -o-transition: all 0.5s ease-in-out;
        border-radius: 12px;
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        -o-border-radius: 20px;
        -ms-border-radius: 20px;
        font-family: 'Muli', sans-serif;
}
.button_mission:hover {
    background-color:#36b051;
    color:#fff;
    }
    .gris_enterprise{
        text-align: left;
    }
body{
    background-color: rgb(255, 255, 255);
}

